<nav class="navbar">
  <div class="logo">
    <%= link_to costumes_path do %>
    <%= image_tag image_url('https://res.cloudinary.com/detoat4si/image/upload/v1709129378/xraayaplkfkcywnwanwx.png'), alt: "Le Logo", class:"logo" %>
    <% end %>
  </div>

  <div class="search_form">
 <%= form_with url: costumes_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
            %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>

  <%= render 'components/session_handler' %>
</nav>
