<nav class="navbar">
  <div class="logo">
    <%= image_tag "logo.png", alt: "Le Logo", width: 500 %>
  </div>

  <div class="search_form">
  <%= simple_form_for(costumes_path, method: :get) do |f| %>
    <%= f.input :costume_type do %>
      <%= f.select :costume_type,
                  Costume.types,
                  selected: @selected_costume_type %>
    <% end %>
    <%= f.input :starts_at, label: "Début le",
                            input_html: { type: :date,
                                          name: :starts_at,
                                          value: params.dig(:starts_at) } %>
    <%= f.input :ends_at, label: "Fin le",
                          input_html: { type: :date,
                                        name: :ends_at,
                                        value: params.dig(:ends_at) } %>
    <%= submit_tag 'Rechercher' %>
  <% end %>
  </div>
</nav>
