<div class="session-handler">
  <% if current_user %>
    <p><%= link_to 'profil',  users_rentals_path %></p>
    <p><%= link_to 'mettre en location',  new_costume_path %></p>
    <%= button_to 'deconnexion', destroy_user_session_path, method: :delete, class:"bouton" %>
  <% else %>
    <%= link_to 'se connecter', new_user_session_path %>
    <%= link_to "s'inscrire", new_user_registration_path %>
    <% end %>
</div>
