<div class="container">
  <div class="row">

    <% @costumes.each do |costume| %>
    <div class="col-4">

    <div class="card" >

    <div class="card-image">
      <%= link_to costume_path(costume) do%>
    <%= image_tag costume.url %>
    <% end%>
    </div>
    <div class="info">
     <div class="name">
    <%= link_to costume.name, costume_path(costume), class:"liens"  %>
    </div>

    <div class="type">
      <%= costume.costume_type %>
    </div>
    </div>
    <div  class="btn btn-outline-success">
     <%= link_to "Louer cette beauté", new_costume_rental_path(costume), class:"liens"  %>

    </div>

    </div>

    </div>
    </div>
    <% end %>

  </div>
</div>
