<div class="container">
    <% @costumes.each do |costume| %>
    <div class="card" >
    <div class="card-image">
      <%= link_to costume_path(costume) do %>
        <% if  costume.url %>
          <%= image_tag costume.url %>
        <% else %>
          <%= cl_image_tag costume.photo.key %>
        <% end %>
    <% end %>
    </div>
    <div class="info">
     <div class="name">
    <%= link_to costume.name, costume_path(costume), class:"lien"  %>
    </div>
    <div class="type">
      <%= costume.costume_type %>
    </div>
    </div>
    <div>
     <%= link_to "Louer cette beauté", new_costume_rental_path(costume), class:"bouton"  %>
    </div>
    </gdiv>
    <% end %>
</div>
