<div class="card" id="show">
<%= @costume.name %>
<%= @user.pseudo %>
<br>
<%= image_tag @costume.url %>
<%=%>
<div class="btn btn-outline-success">
<%= link_to 'louer', new_costume_rental_path(@costume), class:"liens" %>
</div>
</div>
