<%# Section produit %>
<div class="produit">

  <%# photo %>
    <% if  @costume.url %>
      <%= image_tag @costume.url %>
    <% else %>
      <%= cl_image_tag @costume.photo.key, height: 300, width: 400 %>
    <% end %>
  <%# Content %>
  <div class="Content">
    <h1><%= @costume.name %></h1>
    <p><%= @costume.costume_type %></p>
    <p><%= @costume.description %></p>
    <p><span>Prix : <%= @costume.price %></span></p>
    <%= link_to 'louer', new_costume_rental_path(@costume), class:"bouton" %>
    <div class="commentaires">
        <p><strong>Commentaires:</strong></p>
        <% @costume.reviews.each do |review| %>
        <div class="com">
          <p><em><%= review.user.email %></em></p>
          <p>
            "<%= review.content %>"
          </p>
        </div>
      <% end %>
    </div>
    <%= link_to 'Laisser un commentaire', new_costume_review_path(@costume), class:"bouton" %>
  </div>

</div>

<%# Section produit %>

<%# Commentaires %>
